<div id="<%= dom_id facility %>" class="min-w-full">
  <div class="flex flex-col">
    <h3 class="font-bold text-lg text-gray-900">
      <%= facility.name %>
    </h3>

    <p class="text-gray-600">
      <%= facility.address %>
    </p>

    <% if facility.phone.present? %>
      <p class="text-sm text-gray-500 mt-1">
        <span class="font-medium text-gray-700">Phone:</span> <%= facility.phone %>
      </p>
    <% end %>
  </div>
</div>