<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5 text-2xl font-bold text-indigo-600">
          AppIdea<span class="text-gray-900">EMHR</span>
        </a>
      </div>
      <div class="flex flex-1 justify-end">
        <% if authenticated? %>
           <%= link_to "Go to Dashboard", practice_dashboard_path(slug: Current.user.organization.slug), 
            class: %w[
              rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 
              focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
            ].join(" ") 
           %>
        <% else %>
           <%= link_to "Log in to Clinical Portal <span aria-hidden='true'>&rarr;</span>".html_safe, new_session_path, 
            class: %w[
              text-sm font-semibold leading-6 text-gray-900
            ].join(" ") 
           %>
        <% end %>
      </div>
    </nav>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Modern Healthcare Management</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Secure, efficient, and role-based electronic medical records for multi-location practices.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <%= link_to "Provider Login", new_session_path, 
            class: %w[
              rounded-md bg-indigo-600 px-3.5 py-2.5 
              text-sm font-semibold text-white shadow-sm 
              hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
            ].join(" ") 
          %>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Contact Support <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
  </div>
</div>